.text_blue {
    color: #0172ce;
}

.background_blue {
    background-color: #00439c;
}

.btn.round {
    border-radius: 20px;
}

.btn.orange {background-color: orangered;
border:none; color: white;}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
}

.box {
    min-height: 50px;
    min-width: 20px;
    background-color: red;
    border:2px dashed indigo;
}

#header_top {
    height: 2rem;
    width: 100%;
    background-color: black;
}

#header_top img {
    max-height: 2rem;
    padding: 5px;
}

#header_bottom {
    min-height: 5rem;
    background-color: #f8f9fa;
}

#header_bottom nav {
    height: 5rem;
}

#header_bottom nav .btn {
    margin-right: 10px;
}

#header_bottom nav i {
    color: black;
    font-size: 20px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

main {
    padding-top: 7rem;
}

#jumbotron {
    max-height: 50rem;
    padding-bottom: 200px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

#jumbotron img {
    margin-top: 15rem;
}

img {
    width: 100%;
}

#games img {
    border-radius: 8px;
}

#games img:hover {
    cursor: pointer;
}

#games img:not([class$="nail"]) {
    opacity:60%;
}

#games img:not([class$="nail"]):hover {
    opacity:100%;
    animation: jump 500ms;
}

@keyframes jump {
    0% {transform: translateY(0);}
    15% {transform: translateY(-10px);}
    30% {transform: translateY(0);}
    50% {transform: translateY(-5px)}
    65% {transform: translateY(0);}
    80% {transform: translateY(-2px)}
    100% {transform: translateY(0);}
}

#ps5 h6 {
    line-height:0;
}

#ps5 h6,
#ps5 p {
    font-size: .75rem;
}

#ps5 .ms_selected {
    border-bottom: 2px solid #0072ce;
}

@media (min-width: 768px) {
    #ps5 .ms_selected {
        border:none
    }
}

#ps5 img.thumb {
    cursor:pointer;
}

#ps5 .ms_selected_md {
    border-bottom: 2px solid #0072ce;
}

#ps5 img.thumb:not([class$="selected"]) {
    opacity: 60%;
}

#ps5 img.thumb:not([class$="selected"]):hover {
    opacity:100%;
}

#takes_two {
    min-height: 40rem;
    color: white;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

#ps_plus {
    background-color: #aaa;
}

#ps_plus #ps_plus_logo {
    width: 60%;
}

#nuove_uscite {
    color: white;
}

#nuove_uscite img {
 border-radius: 20px;
}

#nuove_uscite img:hover {
    cursor: pointer;
}

.btn {
    max-width: 300px;
}

#ps_plus [class^="col"]:first-of-type {
    display: flex;
    flex-direction: column;
}

#ps_now {
    background-color: darkblue;
    color: white;
}

#sconti img:hover,
#social img:hover {
    opacity:.5;
    cursor: pointer;
}

footer {
    color: white;
}

footer img {
    max-width: 20%;
}

#footer_top i {
    margin-right: 10px;
}

#footer_top ul {
    list-style-type: none;
}

ul>li>a {
    color:white;
    text-decoration: none;
}

ul>li>a:hover {
    text-decoration: underline;
    color: white;
}

#footer_bottom p>a {
    color: #fff;
    text-decoration: underline;
}