.text_blue {
    color: blue;
}

.background_blue {
    background-color: blue;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.box {
    min-height: 50px;
    min-width: 20px;
    background-color: red;
    border:2px dashed indigo;
}

#header_top {
    height: 2rem;
    width: 100%;
    background-color: black;
}

#header_bottom {
    height: 5rem;
    width: 100%;
    background-color: hotpink;
}

main {
    padding-top: 7rem;
}

#jumbotron_top {
    max-height: 35rem;
    padding-bottom: 200px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#jumbotron_top img {
    margin-top: 100px;
}

img {
    width: 100%;
}

#ps_plus {
    background-color: #aaa;
}

#ps_plus #ps_plus_logo {
    width: 60%;
}

.btn {
    max-width: 300px;
}

#ps_plus [class^="col"]:first-of-type {
    display: flex;
    flex-direction: column;
}

#ps_now {
    background-color: darkblue;
    color: white;
}

footer {
    color: white;
}

footer img {
    max-width: 20%;
}

#footer_top i {
    margin-right: 10px;
}

#footer_top ul {
    list-style-type: none;
}

ul>li>a {
    color:white;
    text-decoration: none;
}

ul>li>a:hover {
    text-decoration: underline;
    color: white;
}

#footer_bottom p>a {
    color: #fff;
    text-decoration: underline;
}